body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: hwb(28 9% 9%);
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background: lab(80.86% -65.03 62.7);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
